body, html {
    margin: 0;
    padding: 0;
}
section {
    position: relative;
    background-image: url('../images/summer-country-cottage.jpg');
    width: 70vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

div {
    position: relative;
}

button {
    position: fixed;
    top: 60%;
    left: 45%;
    width: 120px;
    height: 50px;
    
}

#bee {
    position: relative;
   
}

#bee-img{
    position: fixed;
    top: 85vh;
    left: 43vw;
    width: 10%;
    height: auto;
}

.fixed-x {
    position: fixed;

}

#web, #flower, #fan {
    position: relative;
}

#web {
    width: 70vw;
    height: auto;
}

#flower {
    width: 70vw;
    height: auto;
}

#fan {
    width: 70vw;
    height: auto;
}

table, th, td {
    padding: 10px 20px;
    text-align: center;
}

tbody tr {
    border-radius: 6px;
    border-top: 2px dotted orangered;
}

#intro {
    position: fixed;
    top: 10vh;
    left: 25vw;
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: rgba(242, 215, 144, 0.45);
}



