body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
section {
    position: relative;
    background-image: url('../images/summer-country-cottage.jpg');
    width: 70vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3% auto;
}

div {
    position: relative;
}

button {
    position: fixed;
    top: 60%;
    left: 45%;
    width: 120px;
    height: 50px;
    
}

#bee {
    position: relative;
   
}

#bee-img{
    position: fixed;
    top: 70vh;
    left: 43vw;
    width: 10%;
    height: auto;
}

.fixed-x {
    position: fixed;

}

#web, #flower, #fan {
    position: relative;
}

#web {
    width: 70vw;
    height: auto;
}


#fan {
    width: 70vw;
    height: auto;
}

table, th, td {
    padding: 10px 20px;
    text-align: center;
}

tbody tr {
    border-radius: 6px;
    border-top: 2px dotted orangered;
}

#intro {
    position: fixed;
    top: 15vh;
    left: 25vw;
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: rgba(242, 215, 144, 0.45);
    text-align: center;
}

footer {
    position: relative;
   
    padding: 0;

}

footer div {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 3vw;
    color: white;
    background-color: white;
    border: 1px solid white;
}

footer p {
    margin: 0;
    height: 100%;
}

header {
    position: relative;  
    padding: 0;
}

header div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100vw;
    height: 3vw;
    color: white;
    background-color: white;
    border: 1px solid white;
}

header p {
    margin: 0;
    height: 100%;
}

#sidebar-right {
    position: relative;
}

#sidebar-right div {
    position: fixed;
    right: 0;
    top: 20vh;
}

#sidebar-left {
    position: relative;
}

#sidebar-left div {
    position: fixed;
    left: 0;
    top: 20vh;
}

#life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
}

#life img {
    width: 5vw;
    height: auto;
}

#life p {
    font-size: 1.5em;
    font-weight: 900;
}

#time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

#time img {
    width: 4vw;
    height: auto;
}

#time p {
    font-size: 1.5em;
    font-weight: 900;
}


